<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= team.coach %>
  </p>

  <p>
    <strong>Batsman:</strong>
    <%= team.batsman %>
  </p>

  <p>
    <strong>Wicket keeper:</strong>
    <%= team.wicket_keeper %>
  </p>

  <p>
    <strong>All rounder:</strong>
    <%= team.all_rounder %>
  </p>

  <p>
    <strong>Bowlers:</strong>
    <%= team.bowlers %>
  </p>

  <p>
    <strong>description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= team.player_id %>
  </p>

</div>
