<%= render "shared/navbar" %>
<div class="row centered-container shadow p-4 mt-5">
  <div class="details" style="text-align: center;">
    <h1 class="text-capitalize">Register Yourself Here</h1>
  </div>
  <div class="sign_up_forming">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "Phone Number", class: "input-field" %>
      </div>    
      
      <div class="field">
        <%= f.number_field :age, autofocus: true, autocomplete: "age", placeholder: "Age", class: "input-field" %>
      </div>     

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input-field" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "input-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<style>
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 14px;
}

.sign_up_forming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.input-field {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 12px;
}

.actions input[type="submit"] {
  height: 40px;
  width: 100%;
  background-color: #ff0066;
  margin: 15px 0 35px 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
}

@media (min-width: 576px) {
  .centered-container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .centered-container {
    max-width: 70%;
  }
}

@media (min-width: 992px) {
  .centered-container {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .centered-container {
    max-width: 36%;
  }
}
</style>
